html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  position: relative;
  -family: Cafe24SsurroundAir, -apple-system, BlinkMacSystem, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

button { 
  border: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
}

@-face {
  -family: 'Cafe24Ssurround';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noons_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
  -weight: normal;
  -style: normal;
}

@-face {
  -family: 'Cafe24SsurroundAir';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noons_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
  -weight: normal;
  -style: normal;
}
